<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">学习经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2018-09TNow">
                        <span>Jan <strong class="text-upper">2018</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>项目开发</h3>
                    <span class="education-company">自动出题系统 | 公文流转系统 | 记账本 | 疫情可视化系统 | STDOJ系统 | 河北省重大需求征集系统 | 基于先验点的影像图斑识别系统 | 民航知识图谱</span>
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
