<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">学习经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2018-09TNow">
                        <span>Jan <strong class="text-upper">2018</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>项目开发</h3>
                    <span class="education-company">自动出题系统 | 公文流转系统 | 记账本 | 疫情可视化系统 | STDOJ系统 | 河北省重大需求征集系统 | 招聘信息查询平台 | 基于先验点的影像图斑识别系统 | 民航知识图谱</span>
                    <p>自动出题系统：自动生成四则运算题目，使用JavaScript开发</p>
                    <p>公文流转系统：实现公文流转业务，使用JavaEE开发</p>
                    <p>记账本：实现基本记账本功能的app，使用Android移动开发</p>
                    <p>疫情可视化系统：实现疫情信息的可视化查询，包括网页与移动端，使用JavaEE和Android开发</p>
                    <p>STDOJ：编程赛题的在线评判系统，使用node.js开发</p>
                    <p>河北省重大需求征集系统：主要功能为需求表单的填报流转与检索，使用JavaEE开发</p>
                    <p>招聘信息查询平台：对网上的招聘信息进行整理检索，使用SSM框架开发</p>
                    <p>基于先验点的影像图斑识别系统：识别卫星遥感图像分析土地类型占比，使用tensorflow与transformer模型</p>
                    <p>民航知识图谱：根据民航数据建立图关系，使用neo4j、python与flask开发</p>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
